*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex: none; /*相当于 flex: 0 0 auto */
}
.container{
  display: flex;
  height: 100vh;
}
.header,
.footer{
  background-color: #B3C0D1;
  line-height: 60px;
  text-align: center;
}
.container .container{
  display: flex;
  flex-direction: row;
  height: auto;
  flex-grow: 1;
}
.container.is-horizontal{
  flex-direction: row !important;
}
.container.is-vertical{
  flex-direction: column !important;
}
.aside{
  display: flex;
  width: 200px;
  background-color: #D3DCE6;
  justify-content: center;
  align-items: center;
}
.main{
  display: flex;
  flex-grow: 1;
  background-color: #E9EEF3;
  justify-content: center;
  align-items: center;
}