/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100px;
  font-family: "微软雅黑";
  color: #333;
}

/* body {
  font-size: 18px;
  font-family: "微软雅黑";
  color: #333;
} */

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

i{
  font-style: normal;
}

ul {
  list-style: none;
}

/* 0-768 手机 默认 */
.container {
  font-size: 0.16rem;
  padding: 0 15px;
}

/* 768-992 平板 */
@media screen and (min-width: 768px) {
  .container {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
}

/* 992-1170 中等屏幕 */
@media screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* 1200以上 大型屏幕 */
@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}


/* layout css */
h1{
  font-size: 0.2rem;
  text-align: center;
  margin-bottom: 10px;
}

.title{
  text-align: center;
  color: white;
  background-color: #6F95BA;
  margin-bottom: 10px;
}
h2{
  font-size: 22px;
}
h3{
  font-size: 20px;
}

h5{
  position: relative;
  font-size: 0.16rem;
  padding-left: 8px;
}
i{
  position: absolute;
  top: 0;
  left: 0px;
  color: red;
}

.pick{
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  text-align: center;
}

li{
  border-bottom: 1px solid #F3F3F3;
  margin-bottom: 8px;
}

[type="text"] {
  width: 100%;
  border: none;
  line-height: 20px;
}