@font-face {
  font-weight: normal;
  font-family: 'vant-icon';
  font-style: normal;
  font-display: auto;
  src: url('./vant-icon.woff2') format('woff2'), 
  url('./vant-icon.woff') format('woff'), 
  url('./vant-icon.ttf') format('truetype');
}
.van-icon {
  position: relative;
  display: inline-block;
  font: normal normal normal 14px/1 'vant-icon';
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.van-icon::before {
  display: inline-block;
}
.van-icon-add-o::before {
  content: '\F000';
}

html{
  background-color: pink;
  background-image: url(./icon.jpg) no-repeat;
}