<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/layout.css">
</head>
<body>

<div class="container">

  <div class="aside">
    侧边栏
  </div>

  <div class="container vertical">

    <div class="header">
      头部
    </div>
  
    <div class="main">
      主体
    </div>

    <div class="footer">
      脚部
    </div>

  </div>

</div>


  
</body>
</html>