/* reset css */
*,
*::before,
*::after{
  box-sizing: border-box;
}
body,h1,h2,h3,h4,h5,h6,p,ul,ol{
  margin: 0;
  padding: 0;
}
html{
  font-size: 100px;
}
body{
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  font-size: 0.12rem;
}
a{
  color: inherit;
  text-decoration: none;
}
ul{
  list-style: none;
}
input,button,textarea{
  font-family: inherit;
  font-size: inherit;
}
input[type="button"],
button{
  cursor: pointer;
}
table{
  border-collapse: collapse;
}
img{
  border: none;
}
::-webkit-scrollbar{
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb{
  background-color: rgba(0, 0, 0, .1);
  border-radius: 3px;
}

/* layout css */
html,body{
  background-color: #c9ccd0;
}
.app{
  max-width: 430px;
  min-height: 100vh;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
}
.app .head{
  height: 42px;
}
.app .main{
  height: calc(100vh - 92px);
  background-color: #f0f0f0;
  overflow: auto;
}
.app .footer{
  height: 50px;
}